<%= link_to "new event", new_event_path %>

<div id='calendar'></div>

<div id='all_day_dialog' style="display:none;">
  <p>
    Date: 
    <input type="text" id="start_date" maxlength="5" style="width: 50px"/>
    <input type="text" id="end_date" maxlength="5" style="width: 50px"/><br/>
  </p> 
  <p>
    Time: 
    <input type="text" id="start_time" maxlength="5" style="width: 50px"/>
    <input type="text" id="end_time" maxlength="5" style="width: 50px"/><br/>
  </p>
  <p>
    What: 
    <input type="text" id="what"/>
  </p>
  All day: <input type="checkbox" id="all_day"/>
</div>
